@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
img{
    max-width: 100%;
    object-fit: contain;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper {
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}
.card{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.first{
    background: hsl(31, 77%, 52%);
}
.second{
    background: hsl(184, 100%, 22%);
}
.third{
    background: hsl(179, 100%, 13%);
}
.card__icon{
    width: 70px;
    margin-bottom: 20px;
}
.card__title{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
    margin-bottom: 20px;
}
.card__desc{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
    margin-bottom: 60px;
}
.card__btn{
    width: 150px;
    background-color: hsl(0, 0%, 95%);
    padding: 13px 27px;
    border-radius: 26px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .4s ease-in-out;
    margin-bottom: 0;
    margin-top: auto;
    cursor: pointer;
}
.first .card__btn {
    color: hsl(31, 77%, 52%);
}

.second .card__btn {
    color: hsl(184, 100%, 22%);
}

.third .card__btn {
    color: hsl(179, 100%, 13%);
}

.card__btn:hover {
    color: hsl(0, 0%, 95%);
    background: transparent;
}
@media (max-width: 780px){
    .wrapper {
        flex-wrap: wrap;
        max-width: 350px;
    }
    .card{
        flex-grow: 1;
    }
}
@media screen and (max-width:650px){
    .wrapper{
        min-width: 320px;
    }
    .card{
        flex-basis: 100%;
        
    }
}